<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        a{
            text-decoration: none;
            border: 1px solid black;
            padding: 10px 20px;
            margin-top: 20px;
        }
        div{
            display: flex;
            gap: 5px;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <a href="/">Home</a>
    <div>
        <h1>Admin Pannel</h1>
        <h4><a href="/product">Add Products</a></h4>
        <h4><a href="/viewOrder">See Order List</a></h4>
    </div>
</body>

</html>