<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <style>
        .success-page{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            gap: 1rem;
            margin: auto;
            margin-top: 7%;
            margin-bottom: 2%;
        }
        .success-page img{
            width: 200px;
            margin: auto;
        }
        .success-page h1{
            width: 100%;
            text-align: center;
        }
        .success{
            color: rgb(0, 193, 0);
            font-size: 2.8rem;
        }
    </style>
</head>
<body>
    <%- include('header.ejs') %>.

    <div class="success-page">
        <img src="./img/orderplaced.gif" alt="">
        <h1>Order Placed <span class="success">Successfully</span></h1>
    </div>

    <%- include('footer.ejs') %>.
</body>
</html>