<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> SLIDER | E-COMMERCE WEBSITE </title>
    <!-- favicon -->
    <link rel="icon" href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo" type="image/gif" sizes="16x16">
    <!-- EXTERNAL LINKS -->
    <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <style>
        body
        {
            margin: 0;
        }
        #containerSlider
        {
            margin: auto;
            width: 90%;
            text-align: center;
            padding-top: 100px;
            box-sizing: border-box;
        }
        #containerSlider img
        {
            width: 100%;
            height: 400px;
            object-fit: cover;
            text-align: center;
            align-content: center;
        }
        @media(max-width: 732px)
        {
            #containerSlider img
            {
                height: 12em;
            }
        }
        @media(max-width: 500px)
        {
            #containerSlider img
            {
                height: 10em;
            }
        }
    </style>

</head>
<body>
    <section>
            <div id="containerSlider">
                <div id="slidingImage"> <img src="https://images.unsplash.com/photo-1577976655502-85300c5ca2cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80" alt="image1"> </div>
                <div id="slidingImage"> <img src="https://images.unsplash.com/photo-1603732551681-2e91159b9dc2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="image2"> </div>
                <div id="slidingImage"> <img src="https://images.unsplash.com/photo-1600304299850-5ef60804aa14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZWxlY3Ryb25pYyUyMGNvbXBvbmVudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="image3"> </div>
                <div id="slidingImage"> <img src="https://plus.unsplash.com/premium_photo-1681433376828-cac6ed349f6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as2.ftcdn.net/v2/jpg/05/68/58/77/1000_F_568587706_HC2f6wQqB3QNZKdsNIhSeAJEs0Ku7afe.jpg" alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as1.ftcdn.net/v2/jpg/00/45/43/34/1000_F_45433423_HvmwwnRPQZxghqKA695QJJLS44F3jdaq.jpg" alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as1.ftcdn.net/v2/jpg/02/34/59/64/1000_F_234596458_CfgarYiF1RvJPwWNMjuFOlYJUuUH7lX9.jpg alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as2.ftcdn.net/v2/jpg/05/77/58/13/1000_F_577581321_a1BJukI7CymU0ZxmWkaNXDlmyk1moCwx.jpg" alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as1.ftcdn.net/v2/jpg/05/77/96/80/1000_F_577968060_CigZpdDdjtGotl8jbiB47rOhL8hlIjE2.jpg" alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as2.ftcdn.net/v2/jpg/00/67/12/61/1000_F_67126177_P2XAgPunVawtuTkAamBqfGj7qTeTdO1s.jpg" alt="image4"> </div>
                <div id="slidingImage"> <img src="https://as1.ftcdn.net/v2/jpg/04/06/33/56/1000_F_406335665_K7pNYnDtqsAmJXUSzQCXw2xJHk6ch30s.jpg" alt="image4"> </div>
            </div>
    </section>
</body>
    <!-- <script src=“https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js”></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        $(document).ready(function()
        {
        $('#containerSlider').slick({
            dots: true,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            });
        });
    </script>
</html>